<h1>Test Your MongoDB and ASP.Net Core Web API Connection</h1>
<h2>Click on the below button to fetch sample Data from Collection-staff</h2>
<button class="btn btn-primary" type="submit" (click)="GETEmployee()">
    Click here for testing MongoDB
  </button>
<table mat-table [dataSource]="EmployeeData" class="mat-elevation-z8 demo-table">
    <ng-container [matColumnDef]="column" *ngFor="let column of Employee_table_header">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
    </ng-container>
    <!--* Header for each column -->
    <tr mat-header-row *matHeaderRowDef="Employee_table_header"></tr>
    <!--* Row Data  -->
    <tr mat-row [style.border-bottom]="'3px solid red'" *matRowDef="let emprow; columns: Employee_table_header;"></tr>
</table> 