<title>{{title}}</title>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
</mat-card>


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
              (closed)="events.push('close!')">
              <mat-card>
                <mat-card-actions>
                  <button mat-button routerLink="/employee-component" 
                  routerLinkActive="active" ariaCurrentWhenActive="page">
                    Test Database Connection
                  </button><br>
                </mat-card-actions>
                <mat-card-actions>
                  <button mat-button routerLink="/weather-component" 
                  routerLinkActive="active" ariaCurrentWhenActive="page">
                    Test Backend Connection
                  </button><br>
                </mat-card-actions>
                <mat-card-actions>
                  <button mat-button routerLink="/rentDetails-component" 
                  routerLinkActive="active" ariaCurrentWhenActive="page">
                    RentDetails Component
                  </button><br>
                </mat-card-actions>
                <mat-card-actions>
                  <button mat-button routerLink="/dental-records" 
                  routerLinkActive="active" ariaCurrentWhenActive="page">
                    Dental Records
                  </button>
                </mat-card-actions>
              </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet>
      <button mat-icon-button (click)="sidenav.toggle()" color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- The routed views render in the <router-outlet>-->


