.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
.form-container {
    width: 400px; /* Adjust width as needed */
    margin: 0 auto; /* This centers the container horizontally */
    padding: 20px; /* Add some padding for spacing */
    border: 2px solid #ccc; /* Border styling */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
    text-align: center;
}
.form-container button {
  width: 100%; /* Make button fill the container width */
  padding: 10px; /* Add padding for spacing */
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add cursor on hover */
}


/* .form-container input, */